<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>

  <body>
    <div
      class="container-md p-3 my-3 border bg-dark text-white"
      style="background-color: black;"
      id="survey"
    >
      <h1 style="text-align: center;">SEG 3125 - Survey on User Interfaces</h1>
      <section class="featured">
        <p style="color: antiquewhite; text-align: center;">
          Consider the following UI below (3 spotify songs)
        </p>

        <div style="text-align: center;">
          <iframe
            src="https://open.spotify.com/embed/track/3biIFGPD3iKAhZxtsKxJok"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
          <iframe
            src="https://open.spotify.com/embed/track/093BsOtDzCeZPxqxeLmaXb"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
          <iframe
            src="https://open.spotify.com/embed/track/1WZ2ZsenEbZqzqvobH6bQT"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
        </div>

        >

        <p class="hint" style="text-align: center;">
          Now Answer the following questions
        </p>
      </section>
      <form style="text-align: center;">
        <h2>What do you think is the strongest feature of the UI's design</h2>
        I like the:<br />
        <br />
        <input
          type="text"
          name="color"
          placeholder="feature name..."
          required
        />
        <br />
        <br />
        <h2>
          Of the following, what other aspects do you like about the design?
        </h2>
        I like its:<br />
        <input type="checkbox" name="fruit" value="Its Simplicity" /> Its
        Simplicity<br />
        <input
          type="checkbox"
          name="fruit"
          value="The adaptable color scheme"
        />
        The adaptable color scheme<br />
        <input type="checkbox" name="fruit" value="Functionality" />
        Functionality<br />
        <input type="checkbox" name="fruit" value="Consistency of the layout" />
        Consistency of the layout<br />
        <input
          type="checkbox"
          name="fruit"
          value="Relative layout between elements"
        />
        Relative layout between elements<br />
        <input
          type="checkbox"
          name="fruit"
          value="Important menu items stand out"
        />
        Important menu items stand out<br />
        <br />
        <h2>
          Which target audience would you think would have least difficulty
          navigating the UI
        </h2>
        <br />
        <select name="animal">
          <option value="Children" selected="selected">Children</option>
          <option value="Teens">Teens</option>
          <option value="Young Adults">Young Adults</option>
          <option value="Middle aged Adults">Middle aged Adults</option>
          <option value="Seniors">Seniors</option>
          <option value="Anyone">Anyone</option>
        </select>
        <br />
        <br />
        <button type="submit" class="btn btn-success" id="bb">
          Submit Survey
        </button>
        <p id="thanks"></p>
      </form>
      <footer style="color: antiquewhite; text-align: center;">
        Website designed by <a href="https://saffataziz.site/">Saffat Aziz</a>
      </footer>
    </div>
    <script src="/assets/action.js"></script>
  </body>
</html>
